body {
    background: lightblue;
}

#main-container {
    width: 1000px;
    height: 450px;
    border: 9px solid black;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30%;
    background: lightseagreen;
    transition: all 3.0s ease;
}

#main-container.leaving {
    transform: translateX(-2000px);
}

#main-container.coming {
    
    transform: translateX(100px);
}

#main-container h1,h2,h3,h4,h5,h6,p {
    font-family: Arial, Helvetica, sans-serif;
    color: lightcyan;
}

#main-title {
    font-size: 300%;
    margin-bottom: 1px;
}

#sub-title {
    font-size: 125%;
    color: lightcyan;
    margin-top: 1px;
}

#main-container[tile='login'] {
    background-color: lightsalmon;
}

.wrapper {
    display: grid;
    grid-template-columns: 50px 300px 300px 50px;
    grid-gap: 100px;
    color: #444;
    top: 50px
  }

  .box {
    background: #444;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    transition: all .2s ease;
  }

  .box:hover {
    transform: scale(1.2);
  }

  .box:active {
    transition: all .1s ease;
    transform: scale(1.1);
  }

  .prehide {
      display: none;
  }