body {
    background: lightblue;
}

.main-container {
    width: 1000px;
    height: 450px;
    border: 9px solid black;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30%;
    background: lightseagreen;
}

div.main-container[tile="main"] h1,h2,h3,h4,h5,h6,p {
    font-family: Arial, Helvetica, sans-serif;
    color: lightcyan;
}

div.main-container[tile="signUp"] {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 550px;
}

div.main-container[tile="signUp"] h1,h2,h3,h4,h5,h6,p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.main-container[tile="login"] {
    background-color: lightsalmon;
}

.main-container[tile="signUp"] {
    background-color: lightgreen;
    color: black;
}

#main-title {
    font-size: 300%;
    margin-bottom: 1px;
    color: cyan
}

#sub-title {
    font-size: 125%;
    color: lightcyan;
    margin-top: 1px;
}

.backArrow {
    float:left; 
    white-space: pre;
    transition: all .2s ease;
}

.backArrow:hover {
    transform: scale(1.2);
  }

.backArrow:active {
    transition: all .1s ease;
    transform: scale(1.1);
  }


.main-wrapper {
    display: grid;
    grid-template-columns: 50px 300px 300px 50px;
    grid-gap: 100px;
    color: #444;
    top: 50px
  }

  .login-wrapper {
    color: #444;
    top: 50px
  }

  .login-wrapper input:not(#showBox){
      width: 300px;
      height: 30px;
  }  

  .box {
    background: #444;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    transition: all .2s ease;
  }
  
  .login-box {
      max-width: 200px;
      margin: auto;
  }

  .box:hover {
    transform: scale(1.2);
  }

  .box:active {
    transition: all .1s ease;
    transform: scale(1.1);
  }



  .prehide {
      display: none;
  }